body, .stretched-layout .bgWrapper {
    background-color: #454545;
    background-image: url('../images/backgrounds/patterns/cuadradito.jpg');
    background-position: top center;
    background-repeat: repeat;
    background-attachment: fixed;
}

.wrapper-content {
    width: 620px;
}

h1, h2, h3, h4, h5, h6, .special-font {
    font-family: 'Yanone Kaffeesatz' !important;
}

#nav > ul > li > a {
    font-family: Verdana, Geneva, sans-serif !important;
}

p, li {
    font-family: Calibri, 'Lucida Sans Unicode' , Helvetica, Arial, san-serif !important;
}

#topbar {
    text-align: right;
}

.content-left-col {
    float: left;
    width: 30%;
}

.content-right-col {
    overflow: hidden;
}

.title-with-icon {
    margin-left: 10px;
}

/*Este codigo no es necesario si las imagenes tienen el tamaño correcto*/
/*.bx-wrapper {
    height: 400px !important;
}

.bx-viewport {
    height: 380px !important;
}

.bxslider img {
    height: 350px !important;
}*/

.bx-wrapper .bx-viewport {
    box-shadow: none !important;
    border: 0px !important;
    left: 0px !important;
}

.bx-wrapper ul {
    margin: 0px;
}

.bx-wrapper .bx-pager.bx-default-pager, .bx-wrapper .bx-controls-auto {
    line-height: 1em !important;
}

.portfolio-post #storeDescription {
    overflow: hidden;
}

#relatedStores {
    height: 300px;
}

.inline {
    display: inline;
}

#sectorList h3 {
    font-size: 1.71em;
}
#sectorList a {
    color: #090807;
}
#sectorList .widget ul {
    margin: 0;
    list-style: none;
    font-size: 1.1em;
}
#sectorList .widget a {
    color: #615C5C;
}
#sectorList .widget a:hover {
    color: #000;
}
#sectorList .widget ul.children {
    list-style-image: url('images/icons/ruz.png');
    list-style-position: inside;
}
#sectorList .widget li {
    line-height: 23px;
    color: #636060;
    line-height: 26px;
}

/* FACEBOOK BOX
****************************/
.boxWrapper {
    position: relative;
    /*height: 80px;*/
    /*margin-top: 10px;*/
    /*width: 100%;*/
    padding: 10px;
}


.boxes {
    /*width: 45%;*/
    border: 1px solid #CCC;
    /*float: left;*/
    /*margin-left: 10px;*/
    padding: 10px;
    margin-bottom: 10px;
    /*padding-left: 10px;*/
    -moz-border-radius: 15px 15px 15px 15px; /*para Safari y Chrome*/
    -webkit-border-radius: 15px 15px 15px 15px; /* para Opera */
    border-radius: 15px 15px 15px 15px;
    color: #666;
}

.box_img {
    width: 80px;
    float: left;
}

.box_txt {
    overflow: auto;
    /*float: left;*/
}
