<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="false" targetFramework="4.0"/>
    <customErrors mode="RemoteOnly"/>
  </system.web>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".woff"/>
      <!-- In case IIS already has this mime type -->
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff"/>
    </staticContent>
  </system.webServer>
  <location path="index.html">
    <system.webServer>
      <httpRedirect enabled="true" destination="default.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="historia.html">
    <system.webServer>
      <httpRedirect enabled="true" destination="historia.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="ubicacion.html">
    <system.webServer>
      <httpRedirect enabled="true" destination="contacto.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="villadevoto.html">
    <system.webServer>
      <httpRedirect enabled="true" destination="villadevoto.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="locales.php">
    <system.webServer>
      <httpRedirect enabled="true" destination="rubros/locales.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="promociones.html">
    <system.webServer>
      <httpRedirect enabled="true" destination="default.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="contacto.html">
    <system.webServer>
      <httpRedirect enabled="true" destination="contacto.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="locales/alapage.php">
    <system.webServer>
      <httpRedirect enabled="true" destination="locales/alapage.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="locales/alegrias.php">
    <system.webServer>
      <httpRedirect enabled="true" destination="locales/alegrias.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="locales/ernesto.php">
    <system.webServer>
      <httpRedirect enabled="true" destination="locales/bolicheernesto.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="locales/bufalo.php">
    <system.webServer>
      <httpRedirect enabled="true" destination="locales/bufalos.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="locales/agarrate.php">
    <system.webServer>
      <httpRedirect enabled="true" destination="locales/carocuoreragazza.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="locales/collet.php">
    <system.webServer>
      <httpRedirect enabled="true" destination="locales/collet.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="locales/countryfem.php">
    <system.webServer>
      <httpRedirect enabled="true" destination="locales/countryfem.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="locales/countrymas.php">
    <system.webServer>
      <httpRedirect enabled="true" destination="locales/countrymasc.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="locales/devotoenter.php">
    <system.webServer>
      <httpRedirect enabled="true" destination="locales/devotomarket.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="locales/devotosports.php">
    <system.webServer>
      <httpRedirect enabled="true" destination="locales/devotosports.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="locales/alternativa.php">
    <system.webServer>
      <httpRedirect enabled="true" destination="locales/elephant.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="locales/elgatosinbotas.php">
    <system.webServer>
      <httpRedirect enabled="true" destination="locales/elgatosinbotas.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="locales/elvestidor.php">
    <system.webServer>
      <httpRedirect enabled="true" destination="locales/elvestidor.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="locales/faronorte.php">
    <system.webServer>
      <httpRedirect enabled="true" destination="locales/faronorte.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="locales/firenze.php">
    <system.webServer>
      <httpRedirect enabled="true" destination="locales/firenze.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="locales/grownman.php">
    <system.webServer>
      <httpRedirect enabled="true" destination="locales/grownmen.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="locales/iavagni.php">
    <system.webServer>
      <httpRedirect enabled="true" destination="locales/iavagni.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="locales/ivanlaras.php">
    <system.webServer>
      <httpRedirect enabled="true" destination="locales/ivanlaras.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="locales/jetsons.php">
    <system.webServer>
      <httpRedirect enabled="true" destination="locales/jetsonsgames.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="locales/kendi.php">
    <system.webServer>
      <httpRedirect enabled="true" destination="locales/kendi.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="locales/cafedelreloj.php">
    <system.webServer>
      <httpRedirect enabled="true" destination="locales/kentucky.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="locales/lentejuela.php">
    <system.webServer>
      <httpRedirect enabled="true" destination="locales/lentejuela.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="locales/lunadepapel.php">
    <system.webServer>
      <httpRedirect enabled="true" destination="locales/lunadepapel.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="locales/miraquiensoy.php">
    <system.webServer>
      <httpRedirect enabled="true" destination="locales/miraquiensoy.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="locales/miro.php">
    <system.webServer>
      <httpRedirect enabled="true" destination="locales/miro.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="locales/nigro.php">
    <system.webServer>
      <httpRedirect enabled="true" destination="locales/nigrojoyeriabijouterie.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="locales/nigro2.php">
    <system.webServer>
      <httpRedirect enabled="true" destination="locales/nigrorelojeria.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="locales/parisotto.php">
    <system.webServer>
      <httpRedirect enabled="true" destination="locales/parisotto.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="locales/pepestore.php">
    <system.webServer>
      <httpRedirect enabled="true" destination="locales/pepestore.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="locales/perfumeria.php">
    <system.webServer>
      <httpRedirect enabled="true" destination="locales/perfumeriaceleste.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="locales/reinavictoria.php">
    <system.webServer>
      <httpRedirect enabled="true" destination="locales/reinavictoria.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="locales/rollerhome.php">
    <system.webServer>
      <httpRedirect enabled="true" destination="locales/rollerhome.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="locales/siamofuori.php">
    <system.webServer>
      <httpRedirect enabled="true" destination="locales/siamofuori.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="locales/stylo.php">
    <system.webServer>
      <httpRedirect enabled="true" destination="locales/stylo.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="locales/tabatha.php">
    <system.webServer>
      <httpRedirect enabled="true" destination="locales/tabatha.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="locales/videodevoto.php">
    <system.webServer>
      <httpRedirect enabled="true" destination="locales/videodevoto.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="locales/vonschokolade.php">
    <system.webServer>
      <httpRedirect enabled="true" destination="locales/vonschokolade.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="locales/zz.php">
    <system.webServer>
      <httpRedirect enabled="true" destination="locales/zz.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
</configuration>