<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="false" targetFramework="4.0"/>
    <customErrors mode="RemoteOnly"/>
  </system.web>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".woff"/>
      <!-- In case IIS already has this mime type -->
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff"/>
    </staticContent>
  </system.webServer>
  <location path="index.html">
    <system.webServer>
      <httpRedirect enabled="true" destination="default.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="historia.html">
    <system.webServer>
      <httpRedirect enabled="true" destination="historia.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="ubicacion.html">
    <system.webServer>
      <httpRedirect enabled="true" destination="contacto.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="villadevoto.html">
    <system.webServer>
      <httpRedirect enabled="true" destination="villadevoto.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="locales.php">
    <system.webServer>
      <httpRedirect enabled="true" destination="rubros/locales.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="promociones.html">
    <system.webServer>
      <httpRedirect enabled="true" destination="default.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="contacto.html">
    <system.webServer>
      <httpRedirect enabled="true" destination="contacto.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="locales/alapage.php">
    <system.webServer>
      <httpRedirect enabled="true" destination="alapage.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="locales/alegrias.php">
    <system.webServer>
      <httpRedirect enabled="true" destination="alegrias.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="locales/ernesto.php">
    <system.webServer>
      <httpRedirect enabled="true" destination="bolicheernesto.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="locales/bufalo.php">
    <system.webServer>
      <httpRedirect enabled="true" destination="bufalos.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="locales/agarrate.php">
    <system.webServer>
      <httpRedirect enabled="true" destination="carocuoreragazza.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="locales/collet.php">
    <system.webServer>
      <httpRedirect enabled="true" destination="collet.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="locales/countryfem.php">
    <system.webServer>
      <httpRedirect enabled="true" destination="countryfem.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="locales/countrymas.php">
    <system.webServer>
      <httpRedirect enabled="true" destination="countrymasc.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="locales/devotoenter.php">
    <system.webServer>
      <httpRedirect enabled="true" destination="nuevoenter.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="locales/devotosports.php">
    <system.webServer>
      <httpRedirect enabled="true" destination="devotosports.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="locales/alternativa.php">
    <system.webServer>
      <httpRedirect enabled="true" destination="elephant.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="locales/elgatosinbotas.php">
    <system.webServer>
      <httpRedirect enabled="true" destination="elgatosinbotas.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="locales/elvestidor.php">
    <system.webServer>
      <httpRedirect enabled="true" destination="elvestidor.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="locales/faronorte.php">
    <system.webServer>
      <httpRedirect enabled="true" destination="faronorte.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="locales/firenze.php">
    <system.webServer>
      <httpRedirect enabled="true" destination="firenze.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="locales/grownman.php">
    <system.webServer>
      <httpRedirect enabled="true" destination="grownmen.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="locales/iavagni.php">
    <system.webServer>
      <httpRedirect enabled="true" destination="iavagni.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="locales/ivanlaras.php">
    <system.webServer>
      <httpRedirect enabled="true" destination="ivanlaras.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="locales/jetsons.php">
    <system.webServer>
      <httpRedirect enabled="true" destination="jetsonsgames.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="locales/kendi.php">
    <system.webServer>
      <httpRedirect enabled="true" destination="kendi.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="locales/cafedelreloj.php">
    <system.webServer>
      <httpRedirect enabled="true" destination="kentucky.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="locales/lentejuela.php">
    <system.webServer>
      <httpRedirect enabled="true" destination="lentejuela.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="locales/lunadepapel.php">
    <system.webServer>
      <httpRedirect enabled="true" destination="lunadepapel.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="locales/miraquiensoy.php">
    <system.webServer>
      <httpRedirect enabled="true" destination="miraquiensoy.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="locales/miro.php">
    <system.webServer>
      <httpRedirect enabled="true" destination="miropatisserie.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="locales/nigro.php">
    <system.webServer>
      <httpRedirect enabled="true" destination="nigrojoyeriabijouterie.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="locales/nigro2.php">
    <system.webServer>
      <httpRedirect enabled="true" destination="nigrorelojeria.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="locales/parisotto.php">
    <system.webServer>
      <httpRedirect enabled="true" destination="parisottocalzature.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="locales/pepestore.php">
    <system.webServer>
      <httpRedirect enabled="true" destination="pepestore.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="locales/perfumeria.php">
    <system.webServer>
      <httpRedirect enabled="true" destination="perfumeriaceleste.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="locales/reinavictoria.php">
    <system.webServer>
      <httpRedirect enabled="true" destination="reinavictoria.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="locales/siamofuori.php">
    <system.webServer>
      <httpRedirect enabled="true" destination="siamofuori.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="locales/stylo.php">
    <system.webServer>
      <httpRedirect enabled="true" destination="stylocafe.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="locales/tabatha.php">
    <system.webServer>
      <httpRedirect enabled="true" destination="tabatha.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="locales/videodevoto.php">
    <system.webServer>
      <httpRedirect enabled="true" destination="videodevoto.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="locales/vonschokolade.php">
    <system.webServer>
      <httpRedirect enabled="true" destination="vonschokolade.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="locales/zz.php">
    <system.webServer>
      <httpRedirect enabled="true" destination="vezzocalzados.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="locales/zz.aspx">
    <system.webServer>
      <httpRedirect enabled="true" destination="vezzocalzados.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
</configuration>